// common colors
$--blue: #50749a;
$--blue100: #446383;
$--dark-blue: #2f4881;
$--grey: #e0e0e0;
$--dark-grey: #363636;
$--semi-grey: #757575;
$--white: #fff;
$--brown: #7a6054;

$--green: #509a51;
$--purple: #9a5099;
$--gold-line: rgb(255, 215, 0); // #ffd700

// theme settings
$--primary: $--blue;

// fonts
$--font-family: 'Avenir, Helvetica, Arial, sans-serif';
$--font-weight-bold: 700;
$--font-weight-medium: 500;
$--font-weight-normal: 400;
$--font-weight-thin: 200;
$--font-size-small: 12px;
$--font-size-base: 16px;
$--font-size-title: 32px;
$--font-size-subtitle: 24px;
